<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/users/useradd" method="post">

    Name:<input type="text" name="name" id="name" value=""><br>
    email:<input type="email" name="email" id="email" value=""><br>
    password:<input type="password" name="password" id="password" value=""><br>
    <input type="submit" name="" value="Add">


  </form>
  </body>
</html>
