<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form class="" action="/users/userupdate" method="post">
        <input type="hidden" name="id" value="<%= user._id%>">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" value="<%=user.name%>"><p>
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" value="<%=user.email%>"><p>
          <label for="name">Password:</label>
          <input type="password" name="password" id="password" value="<%=user.password%>"><p>
          <input type="submit" name="" value="Update">
    </form>
</body>
</html>